<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>jspHome</servlet-name>
		<jsp-file>/WEB-INF/jsp/home.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspAddChilds</servlet-name>
		<jsp-file>/WEB-INF/jsp/add-childs.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspChilds</servlet-name>
		<jsp-file>/WEB-INF/jsp/childs.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspAddPrograms</servlet-name>
		<jsp-file>/WEB-INF/jsp/add-programs.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspPrograms</servlet-name>
		<jsp-file>/WEB-INF/jsp/programs.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspFatherPrograms</servlet-name>
		<jsp-file>/WEB-INF/jsp/father/programs.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspMeetings</servlet-name>
		<jsp-file>/WEB-INF/jsp/meetings.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspFatherMeetings</servlet-name>
		<jsp-file>/WEB-INF/jsp/father/meetings.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspAddMeetingg</servlet-name>
		<jsp-file>/WEB-INF/jsp/add-meetings.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspUserProfile</servlet-name>
		<jsp-file>/WEB-INF/jsp/user-profile.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspFatherProfile</servlet-name>
		<jsp-file>/WEB-INF/jsp/father-profile.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspRegistration</servlet-name>
		<jsp-file>/WEB-INF/jsp/registration.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspChangePassword</servlet-name>
		<jsp-file>/WEB-INF/jsp/change-password.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jspFatherChangePassword</servlet-name>
		<jsp-file>/WEB-INF/jsp/father/change-password.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>MeetingController</servlet-name>
		<servlet-class>com.mar.controller.MeetingController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.mar.controller.UserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletUserRegistration</servlet-name>
		<servlet-class>com.mar.controller.ServletUserRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletUserLogin</servlet-name>
		<servlet-class>com.mar.controller.ServletUserLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletProgram</servlet-name>
		<servlet-class>com.mar.controller.ServletProgram</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MeetingController</servlet-name>
		<url-pattern>/MeetingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletUserRegistration</servlet-name>
		<url-pattern>/UserRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletUserLogin</servlet-name>
		<url-pattern>/ServletUserLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletChild</servlet-name>
		<servlet-class>com.mar.controller.ChildController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletChild</servlet-name>
		<url-pattern>/ServletChild</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletProgram</servlet-name>
		<url-pattern>/ServletProgram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspFatherProfile</servlet-name>
		<url-pattern>/jspFatherProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspHome</servlet-name>
		<url-pattern>/jspHome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspAddChilds</servlet-name>
		<url-pattern>/jspAddChilds</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspChangePassword</servlet-name>
		<url-pattern>/jspChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspFatherChangePassword</servlet-name>
		<url-pattern>/jspFatherChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspChilds</servlet-name>
		<url-pattern>/jspChilds</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspAddPrograms</servlet-name>
		<url-pattern>/jspAddPrograms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspPrograms</servlet-name>
		<url-pattern>/jspPrograms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspFatherPrograms</servlet-name>
		<url-pattern>/jspFatherPrograms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspUserProfile</servlet-name>
		<url-pattern>/jspUserProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspRegistration</servlet-name>
		<url-pattern>/jspRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspMeetings</servlet-name>
		<url-pattern>/jspMeetings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspFatherMeetings</servlet-name>
		<url-pattern>/jspFatherMeetings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspAddMeetingg</servlet-name>
		<url-pattern>/jspAddMeetingg</url-pattern>
	</servlet-mapping>
</web-app>